@model  List<BrandBookModel.StatusUpdateModel>
@using BrandBookModel
@using BrandBookBiz
@{
    Layout = null;
    UserModel userModel = CookieManager.ReloadSessionFromCookie();
    BrandBookFacadeBiz _biz = new BrandBookFacadeBiz();
    userModel=_biz.GetUserDetails(userModel);
}
@using BrandBook.Helper;
<div id="divStatus">
    @{
        if (Model.Count > 0)
        {
            foreach (StatusUpdateModel temp in Model)
            {
                string sid = "s" + @temp.StatusID;
                <div class="statusWrapper" id='@sid'>
                    <div class="statusProfPicWrapper">
                    <img id="@temp.PicID" src='@Url.Content(@temp.ProPicUrl)' class="statusProfilePic"/>
                        </div>
                    <h1><a href="#">@temp.FullName</a>
                        <div class="statusContent">
                        @if (temp.StatusType == "T")
                        {
                            @temp.StatusContent;
                        }
                        else if (temp.StatusType == "I")
                        {
                            <img src='@Url.Content(@temp.StatusContent)' class="statuImg" />
                        }
                    </div>
                    </h1>
                    
                    
                    @if (temp.Likes.Count > 0)
                    {
                        if (temp.Likes.Where(l => l.LikedByUserID == userModel.UserDetailsID).Count() > 0)
                        {
                            <div class="LikeCommentWrapper">
                                <a class="aLike" href="#" data-statusid='@temp.StatusID'
                                    data-liketype="S">Unlike</a>
                                <a class="aComment" href="#">Comment</a>
                            </div>
                            <div class="likeStatus">
                                @{
                                    if(@temp.Likes.Count==1)
                                    {
                                        <a class="likemsg" href="#">You </a><span>like this</span>
                                    }
                                    else
                                    {
                                        <a class="likemsg" href="#">@temp.Likes.Count people </a><span>like this</span>
                                    }
                                 }
                            </div>
                        }
                        else
                        {
                            
                          <div class="LikeCommentWrapper">
                                <a class="aLike" href="#" data-statusid='@temp.StatusID'  data-liketype="S">Like</a>
                                <a href="#" class="aComment">Comment</a>
                          </div>
                          <div class="likeStatus">
                                @{
                                    if(temp.Likes.Count==1)
                                    {
                                        <a class="likemsg" href="#">@temp.Likes[0].LikedByUserFullName </a><span>likes this</span>
                                    }
                                    else
                                    {
                                        <a class="likemsg" href="#">@temp.Likes.Count people </a><span>like this</span>                                                                       
                                    }
                                                                                                       
                                                                   
                                }
                          </div>  
                        }
                    }
                    else
                    {
                        <div class="LikeCommentWrapper">
                            <a class="aLike" href="#" data-statusid='@temp.StatusID'  data-liketype="S">Like</a>
                            <a class="aComment" href="#">Comment</a>
                        </div>
                        <div class="likeStatus hide">
                            <a class="likemsg" href="#"></a><span>likes this</span>
                        </div>  
                    }
                    @if (temp.Comments.Count > 0)
                    {
                        <div class="StatusCommentWrapper">
                            @foreach (CommentModel tempComment in temp.Comments)
                            {
                                <div class="StatusComment" data-statusid="@temp.StatusID" data-commentid="@tempComment.CommentID" data-commentbyuserid="@tempComment.CommentedByUserID">
                                    <img id="@tempComment.CommentedByUserProPicID" src="@Url.Content(@tempComment.CommentedByUserProPicUrl)" class="commentUserImage"/>
                                    <a href="#">@tempComment.CommentedByUserFullName</a>
                                    <span class="CommentContent">@tempComment.CommentContent</span>
                                    <div class="likeOnCommentWraper">
                                        <a href="#">Like</a>
                                            @if (@tempComment.Likes.Count > 0)
                                            {
                                                <img src='@Url.Content("~/Content/themes/base/images/like.jpg")'> @tempComment.Likes.Count 
                                            }
                                     </div>
                                </div>
                            }
                            <div  class="StatusComment userComment" data-statusid="@temp.StatusID" data-commentbyuserid="@userModel.UserDetailsID">
                                    <img  src="@userModel.ProfilePicUrl" class="commentUserImage"/>
                                    <textarea placeholder="Place a comment" class="txtComment"></textarea>
                            </div>
                           </div>
                    }
                    else
                    {
                        <div class="StatusCommentWrapper">
                        <div class="StatusComment userComment hide" data-statusid="@temp.StatusID" data-commentbyuserid="@userModel.UserDetailsID">
                                    <img  src="@Url.Content(@userModel.ProfilePicUrl)" class="commentUserImage"/>
                                    <textarea placeholder="Place a comment" class="txtComment"></textarea>
                            </div>
                            </div>
                    }
                </div>
            }
        }
        else
        {
            <label class="no-update">No Update Available</label>
        }
      }
    
</div>


<!--<script type="text/javascript" src='@Url.Content("~/Scripts/status/status.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Like/like.js")'></script> -->
<script type="text/javascript" src='@Url.Content("~/Scripts/SignalRCallback/callback.js")'></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$('textarea').on('keyup', function () {
        //    $(this).css('height', '100%');
        //});

        $('.aComment').on('click', function () {

            $(this).parent().parent()
            .children('div.StatusCommentWrapper').children('.StatusComment').removeClass('hide');
        });
    });
</script>